*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 1rem;
    
}
img{
    width: 100%;
    height: 100%;
    
}

:root{
    --margin-top-slide2:-25rem;
    --margin-top-slide3: -50rem;
    --margin-top-slide4: -75rem;
    --body-bg:rgb(105, 143, 143);
    --bg-label:#373766;
    --bg-label-hover:#fff;
    --bg-item-text:#f0d9d9;
    --margin-text-item1:-2.2rem;
    --margin-text-item2:-4.4rem;
    --margin-text-item3:-6.6rem;
    
}
body{
    background-color: var(--body-bg);
    width: 100%;

}
.wrapper{
    max-width: 40rem;
    margin: 3% auto;
    border-radius:  2%;
    height: 55vh;
}
.wrapper input{
    opacity: 0;
}
.slider{
    /* box-shadow: 0 0 5rem rgb(0 0 0 / 50%); */
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    height: 25rem;
    width: inherit;
}
.slides{
    height: inherit;
    width: inherit;
    opacity: 0;
    transition: transform ease-in-out .5s, opacity ease-in-out .5s,margin ease-in-out .5s ;
}
/* .slide1{
    background:url(./images/gif6.jpg)  no-repeat center center
}
.slide2 {
    background: url(./images/gif5.jpg) no-repeat center center
}
.slide3 {
    background: url(./images/gif4.jpg) no-repeat center center
}
.slide4 {
    background: url(./images/gif3.jpg) no-repeat center center
}
.slide5 {
    background: url(./images/gif1.jpg) no-repeat center center
} */
label{
    cursor: pointer;
    height: 2.2rem;
    width: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.wrapper label:hover .control-item{
background:var(--bg-label-hover);


}
.wrapper #slide1:checked~.controll-wrapper .controls label:hover .control-item,
.wrapper #slide2:checked~.controll-wrapper .controls label:hover .control-item,
.wrapper #slide3:checked~.controll-wrapper .controls label:hover .control-item,
.wrapper #slide4:checked~.controll-wrapper .controls label:hover .control-item{
    border: 0.1rem solid #fff;
    transition: border ease-in-out .1s;
}
.controll-wrapper{
    margin-top:2rem;
    display: flex;
    justify-content: space-between;
}
.control-item{
    
    height: 1rem;
    width: 1rem;
    border-radius: 1rem;
    background: var(--bg-label);
    transition: background ease-in-out .2s;
}
.controls{
    display: flex;
}
#slide1:checked~.controll-wrapper .controls label:nth-of-type(1) .control-item,
#slide2:checked~.controll-wrapper .controls label:nth-of-type(2) .control-item,
#slide3:checked~.controll-wrapper .controls label:nth-of-type(3) .control-item,
#slide4:checked~.controll-wrapper .controls label:nth-of-type(4) .control-item{
    border: 0.1rem solid var(--bg-label);
    background:none;
}
#slide1:active~.controll-wrapper .controls label:nth-of-type(1) .control-item,
#slide2:active~.controll-wrapper .controls label:nth-of-type(2) .control-item,
#slide3:active~.controll-wrapper .controls label:nth-of-type(3) .control-item,
#slide4:active~.controll-wrapper .controls label:nth-of-type(4) .control-item {
    transform: scale(1.4);
    
}
#slide1:checked~.slider>.slide1,
#slide2:checked~.slider>.slide2,
#slide3:checked~.slider>.slide3,
#slide4:checked~.slider>.slide4,
#slide5:checked~.slider>.slide5 {
    opacity: 1;
    transform: scale(1);
}
#slide1:checked~.slider>.slide1{
    margin-top:0;
    
}
#slide2:checked~.slider>.slide2{
    margin-top: var(--margin-top-slide2);
}
#slide3:checked~.slider>.slide3{
    margin-top:var(--margin-top-slide3);
}
#slide4:checked~.slider>.slide4 {
    margin-top: var(--margin-top-slide4);
}
.controll-text-item {
    color: var(--bg-item-text);
    margin-bottom:1rem;
    opacity: 0;
    transition: opacity ease-in-out .5s, margin ease-in-out .5s
}
#slide1:checked~.controll-wrapper .item1{
    opacity: 1;
}
#slide2:checked~.controll-wrapper .item2 {
    opacity: 1;
    margin-top: var(--margin-text-item1);
}
#slide3:checked~.controll-wrapper .item3 {
    opacity: 1;
    margin-top: var(--margin-text-item2);
}
#slide4:checked~.controll-wrapper .item4 {
    opacity: 1;
    margin-top: var(--margin-text-item3);
}

@media screen and (max-width:768px){
    .wrapper{
        padding: 0 1rem;
        margin: 0 auto;
    }
    .controll-wrapper{
        flex-direction: column-reverse;
    }
    .controls{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width:530px){
    .slider{
        height: 15rem;
        margin: 0 auto;
        width: 90%;
    }
    .slides{
        width: auto;
    }
    :root{
        --margin-top-slide2: -15rem;
        --margin-top-slide3: -30rem;
        --margin-top-slide4: -45rem;
    }
    
}


